.slider{
	background: url("../images/bg/bg-71.jpg") no-repeat 0% 0%;
	background-size: cover;
	padding: 180px 0px;

	@extend .overly-2;

	h1{
		font-size: 85px;
		line-height: 110px;
	}

	span.subhead{
		color:$light;
		letter-spacing: 5px;
		border: 2px solid $light;
		padding: 3px 15px 5px 15px;
		opacity: .8;
	}
}