<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<img src="images/bg/bg-51.jpg" alt="" class="img-fluid rounded shadow w-100">
			</div>
			
			<div class="col-lg-6">
				<div class="pl-3 mt-5 mt-lg-0">
					<h2 class="mt-1 mb-3">The Change MMA là nơi 
						<br> <span class="text-color">rèn luyện võ thuật và thể chất</span> 
						<br> giúp bạn lột xác qua từng buổi tập. </h2>

					<p class="mb-4"> Tôi mang đến hệ thống tập luyện đa dạng, từ võ thuật đến rèn luyện sức khỏe tổng thể, giúp bạn thay đổi cả thể chất lẫn tinh thần.</p>

					<a href="#" class="btn btn-main">Xem thêm<i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>