<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<span class="h6 d-inline-block mb-4 subhead text-uppercase">Gym fitness club</span> <br> <br> 
				<h1 class="text-uppercase text-white mb-5">Chinh phục  <br> 
					<span class="text-color">Thử thách mới</span>
					<br>cùng The Change MMA</h1>
					<br>
			
				<a href="course.html" target="_blank" class="btn btn-main " >Tham gia <i class="ti-angle-right ml-3"></i></a>
			</div>
		</div>
	</div>
</section>