<section class="section cta">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12 col-sm-12">
				<div class="text-center">
					<span class="h6 letter-spacing text-white">Khám phá tiềm năng của bạn</span>
					<h2 class="text-lg mt-4 mb-5 text-white">
						Nhanh tay đăng ký để nhận ngay buổi tập
						 <span class="text-color">miễn phí </span>
					</h2>

					<a href="contact.html" class="btn btn-main text-white">Tham gia ngay</a>
				</div>
			</div>
		</div>
	</div>
</section>