	<section class="section course">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Khóa học phổ biến</h2>
					<p>Chúng tôi cung cấp hơn 20 lớp học trong tuần, thời gian linh hoạt và khung giờ đa dạng.</p>
				</div>
			</div>
		</div>

		<!-- Tab Navigation - Club Selection -->
		<div class="row justify-content-center mb-5">
			<div class="col-lg-6">
				<ul class="nav nav-pills justify-content-center" id="clubTabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active px-5 py-3 mx-2" id="tvn-tab" data-toggle="pill" href="#tvn-mma" role="tab" aria-controls="tvn-mma" aria-selected="true">
							<h5 class="mb-0">Truong Vi Nhat MMA</h5>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-5 py-3 mx-2" id="change-tab" data-toggle="pill" href="#change-mma" role="tab" aria-controls="change-mma" aria-selected="false">
							<h5 class="mb-0">THE CHANGE MMA</h5>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Tab Content -->
		<div class="tab-content" id="clubTabsContent">
			<!-- TVN MMA Tab -->
			<div class="tab-pane fade show active" id="tvn-mma" role="tabpanel" aria-labelledby="tvn-tab">
				<center><p>CS1: 10-12 Nguyễn Mậu Tài, Hòa Xuân, TP Đà Nẵng</p></center>
				
				<!-- Inner Tab Navigation - Class Type Selection -->
				<div class="row justify-content-center mb-4">
					<div class="col-lg-4">
						<ul class="nav nav-pills justify-content-center" id="tvnClassTabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active px-3 py-2 mx-1" style="background-color: #dc3545; color: white; border: 2px solid #dc3545;" id="tvn-adults-tab" data-toggle="pill" href="#tvn-adults" role="tab" aria-controls="tvn-adults" aria-selected="true">
									Người Lớn
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-3 py-2 mx-1" style="background-color: white; color: #dc3545; border: 2px solid #dc3545;" id="tvn-kids-tab" data-toggle="pill" href="#tvn-kids" role="tab" aria-controls="tvn-kids" aria-selected="false">
									Trẻ Em
								</a>
							</li>
						</ul>
						<style>
							#tvnClassTabs .nav-link.active {
								background-color: #dc3545 !important;
								color: white !important;
								border: 2px solid #dc3545 !important;
							}
							#tvnClassTabs .nav-link:not(.active) {
								background-color: white !important;
								color: #dc3545 !important;
								border: 2px solid #dc3545 !important;
							}
							#tvnClassTabs .nav-link:hover {
								background-color: #f8f9fa !important;
							}
						</style>
					</div>
				</div>

				<!-- Inner Tab Content -->
				<div class="tab-content" id="tvnClassTabsContent">
					<!-- Adults Classes -->
					<div class="tab-pane fade show active" id="tvn-adults" role="tabpanel" aria-labelledby="tvn-adults-tab">
						<div class="row">
							<!-- Class 1: Kick-muay -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kick-muay</h4>
										<p class="mb-2">HLV: Nguyễn Hữu Thịnh</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>8:30 AM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 2: Kick-muay -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kick-muay</h4>
										<p class="mb-2">HLV: Nguyễn Hữu Thịnh</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7
											</li>
										</ul>
										<p class="text-black"><strong>8:30 AM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 3: Kick-muay -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kick-muay</h4>
										<p class="mb-2">HLV: Đinh Thành Duy</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>6:30 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 4: Kick-muay -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kick-muay</h4>
										<p class="mb-2">HLV: Nguyễn Tấn Quốc</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7
											</li>
										</ul>
										<p class="text-black"><strong>6:30 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 5: Boxing kids song ngữ -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Boxing kids song ngữ</h4>
										<p class="mb-2">HLV: Dan</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>6:30 PM</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Kids Classes -->
					<div class="tab-pane fade" id="tvn-kids" role="tabpanel" aria-labelledby="tvn-kids-tab">
						<div class="row">
							<!-- Class 1: Kickbox kids -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox kids</h4>
										<p class="mb-2">HLV: Nguyễn Đồng Thân Thoại</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>4:00 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 2: Kickbox kids -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox kids</h4>
										<p class="mb-2">HLV: Nguyễn Hữu Thịnh</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>5:30 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 3: Kickbox kids -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox kids</h4>
										<p class="mb-2">HLV: Nguyễn Tấn Quốc</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7
											</li>
										</ul>
										<p class="text-black"><strong>5:30 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 4: Kickbox kids -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox kids</h4>
										<p class="mb-2">HLV: Nguyễn Đồng Thân Thoại</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>6:30 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 5: Kickbox kids song ngữ -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox kids song ngữ</h4>
										<p class="mb-2">HLV: Dan</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7
											</li>
										</ul>
										<p class="text-black"><strong>6:30 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 6: Kickbox kids -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox kids</h4>
										<p class="mb-2">HLV: Nguyễn Đồng Thân Thoại</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>7:30 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 7: Kickbox -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox</h4>
										<p class="mb-2">HLV: Đặng Phước An</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7
											</li>
										</ul>
										<p class="text-black"><strong>7:30 PM</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End TVN MMA Tab -->

			<!-- THE CHANGE MMA Tab -->
			<div class="tab-pane fade" id="change-mma" role="tabpanel" aria-labelledby="change-tab">
				<center><p>CS2: 1195 Ngô Quyền, Sơn Trà, TP Đà Nẵng</p></center>

				<!-- Inner Tab Navigation - Class Type Selection -->
				<div class="row justify-content-center mb-4">
					<div class="col-lg-4">
						<ul class="nav nav-pills justify-content-center" id="changeClassTabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active px-3 py-2 mx-1" style="background-color: #dc3545; color: white; border: 2px solid #dc3545;" id="change-adults-tab" data-toggle="pill" href="#change-adults" role="tab" aria-controls="change-adults" aria-selected="true">
									Người Lớn
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-3 py-2 mx-1" style="background-color: white; color: #dc3545; border: 2px solid #dc3545;" id="change-kids-tab" data-toggle="pill" href="#change-kids" role="tab" aria-controls="change-kids" aria-selected="false">
									Trẻ Em
								</a>
							</li>
						</ul>
						<style>
							#changeClassTabs .nav-link.active {
								background-color: #dc3545 !important;
								color: white !important;
								border: 2px solid #dc3545 !important;
							}
							#changeClassTabs .nav-link:not(.active) {
								background-color: white !important;
								color: #dc3545 !important;
								border: 2px solid #dc3545 !important;
							}
							#changeClassTabs .nav-link:hover {
								background-color: #f8f9fa !important;
							}
						</style>
					</div>
				</div>

				<!-- Inner Tab Content -->
				<div class="tab-content" id="changeClassTabsContent">
					<!-- Adults Classes -->
					<div class="tab-pane fade show active" id="change-adults" role="tabpanel" aria-labelledby="change-adults-tab">
						<div class="row">
							<!-- Class 1: Kick-muay -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kick-muay</h4>
										<p class="mb-2">HLV: Đinh Thành Duy</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>8:30 AM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 2: Kick-muay -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kick-muay</h4>
										<p class="mb-2">HLV: Đinh Thành Duy</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7
											</li>
										</ul>
										<p class="text-black"><strong>8:30 AM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 3: Kick-muay -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kick-muay</h4>
										<p class="mb-2">HLV: Nguyễn Tấn Quốc</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>5:15 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 4: Kickbox -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox</h4>
										<p class="mb-2">HLV: Nguyễn Hữu Thịnh</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7
											</li>
										</ul>
										<p class="text-black"><strong>5:15 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 5: Kickbox -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox</h4>
										<p class="mb-2">HLV: Nguyễn Tấn Quốc</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>6:15 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 6: Kick-muay -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kick-muay</h4>
										<p class="mb-2">HLV: Đinh Thành Duy</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7
											</li>
										</ul>
										<p class="text-black"><strong>6:15 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 7: Kickbox -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox</h4>
										<p class="mb-2">HLV: Nguyễn Hữu Thịnh</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6
											</li>
										</ul>
										<p class="text-black"><strong>7:15 PM</strong></p>
									</div>
								</div>
							</div>

							<!-- Class 8: MMA -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">MMA</h4>
										<p class="mb-2">HLV: Nguyễn Hữu Thịnh</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5
											</li>
										</ul>
										<p class="text-black"><strong>7:15 PM</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Kids Classes -->
					<div class="tab-pane fade" id="change-kids" role="tabpanel" aria-labelledby="change-kids-tab">
						<div class="row">
							<!-- Class 1: Kickbox kids -->
							<div class="col-lg-4 col-md-6 mb-4">
								<div class="card rounded-0 p-0 mb-5" style="border: 1px solid #ddd;">
									<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">
									<div class="card-body">
										<h4 class="mt-3 mb-0">Kickbox kids</h4>
										<p class="mb-2">HLV: Nguyễn Hữu Thịnh</p>
										<ul class="list-inline">
											<li class="list-inline-item">
												<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7
											</li>
										</ul>
										<p class="text-black"><strong>4:15 PM</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End THE CHANGE MMA Tab -->
		</div>
	</div>
</section>