<section class="section course bg-black">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Khóa học phổ biến</h2>
					<p>Chúng tôi cung cấp hơn 20 lớp học trong tuần, thời gian linh hoạt và  khung giờ đa dạng</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/kickboxing_class.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="#"><h4 class="font-secondary mb-0">Kickboxing người lớn/ trẻ em</h4></a>
						<p class=" mb-2">HLV: Nguyễn Hữu Thịnh</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/muay_thai.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="#"><h4 class="font-secondary mb-0">Muay thái người lớn</h4></a>
						<p class="mb-2">HLV: Đinh Thành Duy</p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/mma_thuc_chien.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="#"><h4 class="font-secondary mb-0">MMA thực chiến </h4></a>
						<br>
						<p class=" mb-2">HLV: Trương Vi Nhạt</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
					<img src="images/gallery/kickboxing_endweek.jpg" alt="" class="img-fluid">

					<div class="card-body">
						<a href="#"><h4 class="font-secondary mb-0">Kickboxing lớp cuối tuần</h4></a>
						<p class=" mb-2">HLV: Nguyễn Hữu Thịnh</p>
					</div>
				</div>
			</div>

		</div>
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="mt-5 text-center">
					<a href="course.html" class="btn btn-main">Xem tất cả khóa học</a>
				</div>
			</div>
		</div>
	</div>
</section>