	<section class="section course">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Khóa học phổ biến</h2>
					<p>Chúng tôi cung cấp hơn 20 lớp học trong tuần, thời gian linh hoạt và khung giờ đa dạng.</p>
				</div>
			</div>
		</div>

		<!-- Tab Navigation -->
		<div class="row justify-content-center mb-5">
			<div class="col-lg-6">
				<ul class="nav nav-pills justify-content-center" id="clubTabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active px-5 py-3 mx-2" id="tvn-tab" data-toggle="pill" href="#tvn-mma" role="tab" aria-controls="tvn-mma" aria-selected="true">
							<h5 class="mb-0">Truong Vi nhat MMA</h5>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-5 py-3 mx-2" id="change-tab" data-toggle="pill" href="#change-mma" role="tab" aria-controls="change-mma" aria-selected="false">
							<h5 class="mb-0">THE CHANGE MMA</h5>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Tab Content -->
		<div class="tab-content" id="clubTabsContent">
			<!-- TVN MMA Tab -->
			<div class="tab-pane fade show active" id="tvn-mma" role="tabpanel" aria-labelledby="tvn-tab">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="card rounded-0 p-0 mb-5">
							<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">

							<div class="card-body">
								<a href="course-single.html"><h4 class="mt-3 mb-0">Kickboxing người lớn/ trẻ em</h4></a>
								<p class=" mb-2">HLV: Nguyễn Hữu Thịnh</p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7: 
									</li>
									<li class="list-inline-item text-black">
										<strong>17h15 - 18h15</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="card rounded-0 p-0 mb-5">
							<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">

							<div class="card-body">
								<a href="course-single.html"><h4 class="mt-3 mb-0">Muay thái người lớn</h4></a>
								<p class=" mb-2">HLV: Đinh Thành Duy</p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<i class="ti-time mr-2 text-color"></i>Thứ 3-5-7:
									</li>
									<li class="list-inline-item text-black">
										<strong>18h15 - 19h15</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="card rounded-0 p-0 mb-5">
							<img src="images/gallery/logo_class.jpg" alt="" class="img-fluid">

							<div class="card-body">
								<a href="course-single.html"><h4 class="mt-3 mb-0">Boxing cơ bản</h4></a>
								<p class=" mb-2">HLV: Trần Văn Thắng</p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6:
									</li>
									<li class="list-inline-item text-black">
										<strong>19h30 - 20h30</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End TVN MMA Tab -->

			<!-- THE CHANGE MMA Tab -->
			<div class="tab-pane fade" id="change-mma" role="tabpanel" aria-labelledby="change-tab">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="card rounded-0 p-0 mb-5">
							<img src="images/gallery/logo_classTC.jpg" alt="" class="img-fluid">

							<div class="card-body">
								<a href="course-single.html"><h4 class="mt-3 mb-0">Kickboxing lớp cuối tuần</h4></a>
								<p class=" mb-2">HLV: Nguyễn Hữu Thịnh</p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<i class="ti-time mr-2 text-color"></i>Thứ 7 - Chủ Nhật:
									</li>
									<li class="list-inline-item text-black">
										<strong>9h45 - 10h45</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="card rounded-0 p-0 mb-5">
							<img src="images/gallery/logo_classTC.jpg" alt="" class="img-fluid">

							<div class="card-body">
								<a href="course-single.html"><h4 class="mt-3 mb-0">MMA thực chiến</h4></a>
								<p class=" mb-2">HLV: Trương Vi Nhạt</p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<i class="ti-time mr-2 text-color"></i>Thứ 7 - Chủ Nhật:
									</li>
									<li class="list-inline-item text-black">
										<strong>15h30</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="card rounded-0 p-0 mb-5">
							<img src="images/gallery/logo_classTC.jpg" alt="" class="img-fluid">

							<div class="card-body">
								<a href="course-single.html"><h4 class="mt-3 mb-0">Jiu-Jitsu</h4></a>
								<p class=" mb-2">HLV: Lê Minh Quân</p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<i class="ti-time mr-2 text-color"></i>Thứ 2-4-6:
									</li>
									<li class="list-inline-item text-black">
										<strong>20h00 - 21h00</strong>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Thêm các lớp học khác của The Change MMA ở đây -->
				</div>
			</div>
			<!-- End THE CHANGE MMA Tab -->
		</div>
	</div>
</section>