<!-- footer Start -->
<footer class="footer bg-black-50">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
				<h2 class="text-white mb-4">Mô tả</h2>
				<p>The Change MMA là nơi bạn đến để tập luyện nghiêm túc nhưng không áp lực.
Chúng tôi giảng dạy MMA theo cách dễ tiếp cận, phù hợp từ người mới bắt đầu đến người đã tập lâu, hướng đến việc khỏe hơn, nhanh hơn và tự tin hơn mỗi ngày.
Tại đây không chỉ có đấm đá, mà còn là quá trình rèn phản xạ, thể lực và tinh thần chiến đấu trong một môi trường thân thiện, kỷ luật nhưng vui.
</p>

				<p>The Change MMA không tạo ra võ sĩ cho số đông — chúng tôi đồng hành cùng mỗi người trên hành trình thay đổi theo cách của riêng mình.</p>
			</div>
			

			<!-- <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
				<div class="footer-widget recent-blog">
					<h4 class="mb-4 text-white letter-spacing text-uppercase">Recents Posts</h4>
					<div>
						<a href="blog-single.html"class="text-white">Claritas est etiam processus dynamicus</a>
						<p class="text-sm mt-2 text-white-50">30 february 2019</p>
					</div>
					<div class="mt-4">
						<a href="blog-single.html"class="text-white">Claritas est etiam processus dynamicus</a>
						<p class="text-sm mt-2 text-white-50">30 february 2019</p>
					</div>

				</div>
			</div> -->
			<div class="col-lg-2 col-md-5 mb-5 mb-lg-0">
				<div class="footer-widget">
					<h4 class="mb-4 text-white letter-spacing text-uppercase">Quick Links</h4>
					<ul class="list-unstyled footer-menu lh-40 mb-0">
						<li><a href="about.html"><i class="ti-angle-double-right mr-2"></i>About Us</a></li>
						<li><a href="service.html"><i class="ti-angle-double-right mr-2"></i>Services</a></li>
						<!-- <li><a href="pricing.html"><i class="ti-angle-double-right mr-2"></i>Membership</a></li> -->
						<li><a href="course.html"><i class="ti-angle-double-right mr-2"></i>Courses</a></li>
						<li><a href="contact.html"><i class="ti-angle-double-right mr-2"></i>Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-5">
				<div class="footer-widget">
					<h4 class="mb-4 text-white letter-spacing text-uppercase">Địa chỉ</h4>
					<p>CS1: 10-12 Nguyễn Mậu Tài, Hòa Xuân,TP  Đà Nẵng</p>
					<p>CS2: 1195 Ngô Quyền, Sơn Trà, TP Đà Nẵng </p>
					<span class="text-white">0905 672 898</span>
					<span class="text-white">thechangemmadn25@gmail.com</span>
				</div>
			</div>
		</div>

		<div class="row align-items-center mt-5 px-3 bg-black mx-1">
			<div class="col-lg-4">
				<p class="text-white mt-3">Gymfit © 2019 , Theme By <a href="https://themefisher.com/" class="text-color">Themefisher.com</a></p>
			</div>
			<div class="col-lg-6 ml-auto text-right">
				<ul class="list-inline mb-0 footer-socials">
					<li class="list-inline-item"><a href="https://www.facebook.com/TRUONGVINHATMMA"><i class="ti-facebook"></i></a></li>
					<li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=61574849439731"><i class="ti-facebook"></i></a></li>
					<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a></li>
					<li class="list-inline-item"><a href="https://github.com/themefisher/"><i class="ti-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>