<section class="mt-80px">
	<div class="container">
		<div class="row ">
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top border-bottom position-relative hover-style-1">
					<span class="number">01</span>
					<h3 class="mt-3">Trang thiết bị hiện đại</h3>
					<p class="mt-3 mb-4">Không gian được thiết kế gọn gàng, trang bị thiết bị chất lượng, phục vụ linh hoạt cho nhiều hình thức tập luyện.</p>
					<a href="about.html" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Xem thêm</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top hover-style-1">
					<span class="number">02</span>
					<h3 class="mt-3">Huấn luyện viên chuyên nghiệp</h3>
					<p class="mt-3 mb-4">Huấn luyện viên tận tâm, kỷ luật và am hiểu võ thuật, đồng hành cùng bạn trong suốt quá trình tập luyện.</p>
					<a href="about.html" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Xem thêm</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-5 border-0 rounded-top hover-style-1">
					<span class="number">03</span>
					<h3 class="mt-3">Chế độ dinh dưỡng lành mạnh</h3>
					<p class="mt-3 mb-4">Dinh dưỡng khoa học, đồng hành cùng quá trình tập luyện bền vững.</p>
					<br>
					<a href="about.html" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>Xem thêm</a>
				</div>
			</div>
		</div>
	</div>
</section>