<section class="section services ">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Dịch vụ của chúng tôi</h2>
					<p>Hơn 20 buổi tập nhóm mỗi tuần, từ các lớp kỹ năng đến các lớp rèn luyện sức bền và thể lực.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
				<div class="text-center px-4 py-5 hover-style-1" style="background-color: white; border-radius: 5px;">
					<i class="icofont-hand-power text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">MMA Training</h4>
					<p> Rèn luyện toàn diện kỹ thuật, sức bền và bản lĩnh thi đấu.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
				<div class="text-center px-4 py-5 hover-style-1" style="background-color: white; border-radius: 5px;">
					<i class="icofont-hand-thunder text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">Boxing & Striking</h4>
					<p>Phát triển tốc độ, phản xạ và sức mạnh đòn đánh.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
				<div class="text-center px-4 py-5 hover-style-1" style="background-color: white; border-radius: 5px;">
					<i class="icofont-leg text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">Muay Thai</h4>
					<p>Tôi luyện thể lực và kỷ luật qua từng cú ra đòn.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
				<div class="text-center px-4 py-5 hover-style-1" style="background-color: white; border-radius: 5px;">
					<i class="icofont-muscle text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">Strength & Conditioning</h4>
					<p>Xây dựng nền tảng sức mạnh cho võ thuật và thi đấu.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
				<div class="text-center px-4 py-5 hover-style-1" style="background-color: white; border-radius: 5px;">
					<i class="icofont-gym-alt-2 text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">Weight Training</h4>
					<p>Gia tăng sức mạnh cốt lõi, hỗ trợ hiệu suất tập luyện.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
				<div class="text-center px-4 py-5 hover-style-1" style="background-color: white; border-radius: 5px;">
					<i class="icofont-shield  text-lg text-color"></i>
					<h4 class="mt-3 mb-4 text-uppercase">Fight Conditioning</h4>
					<p>Nâng cao thể lực thực chiến và khả năng chịu đựng.</p>
				</div>
			</div>
		</div>
	</div>
</section>