<section class="section bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Đội ngũ huấn luyện viên </h2>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-lg-6">
				<div class="card border-0 mb-1  bg-transparent rounded-0 mb-4">
				  <div class="row no-gutters align-items-center">
				    <div class="col-md-6">
				      <img src="images/team/Nhat.jpg" alt="" class="img-fluid w-100">
				    </div>
				    <div class="col-md-6">
				      <div class="card-body team-wrap pl-4">
				        <h3 class="card-title text-color">Trương Vi Nhạt</h3>
				        <h6 class="card-subtitle pb-4 letter-spacing">MMA FIGHTER · COMBAT SPORTS COACH</h6>
				        <p class="mb-5">Lớn lên cùng võ thuật đối kháng, Trương Vi Nhạt gắn bó với MMA như một hành trình rèn kỷ luật, bản lĩnh và vượt giới hạn bản thân.</p>
			        	<ul class="list-inline ">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card border-0 mb-1 bg-transparent  rounded-0 mb-4">
				  <div class="row no-gutters align-items-center">
				    <div class="col-md-6">
				      <img src="images/team/Duy.jpg" alt="" class="img-fluid w-100">
				    </div>
				    <div class="col-md-6">
				      <div class="card-body team-wrap pl-4">
				        <h3 class="card-title text-color">Đinh Thành Duy</h3>
				        <h6 class="card-subtitle pb-4 letter-spacing ">cross Expert trainer</h6>
				        <p class="mb-5">Trưởng thành từ sàn đấu Muay Thái và MMA, Đinh Thành Duy mang tinh thần thi đấu, kỷ luật và trải nghiệm thực chiến vào từng buổi huấn luyện.</p>
			        	<ul class="list-inline ">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card border-0 bg-transparent  rounded-0 mb-4 mb-lg-0">
				  <div class="row no-gutters align-items-center">
				    <div class="col-md-6">
				      <img src="images/team/Nghia.jpg" alt="" class="img-fluid w-100">
				    </div>
				    <div class="col-md-6">
				      <div class="card-body team-wrap pl-4">
				        <h3 class="card-title text-color">Nguyễn Văn Nghĩa</h3>
				        <h6 class="card-subtitle pb-4 letter-spacing ">cross Expert trainer</h6>
				        <p class="mb-5">Nguyễn Văn Nghĩa từng bước trưởng thành qua sàn đấu GMA, nơi rèn cho anh tư duy thi đấu và bản lĩnh cần có của võ sĩ.</p>
			        	<ul class="list-inline ">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="col-lg-6">	
				<div class="card p-0 border-0 bg-transparent rounded-0">
				  <div class="row no-gutters align-items-center">
				    <div class="col-md-6 ">
				      <img src="images/team/Thinh.jpg" alt="" class="img-fluid w-100">
				    </div>
				    <div class="col-md-6">
				      <div class="card-body team-wrap pl-4">
				        <h3 class="card-title text-color">Nguyễn Hữu Thịnh</h3>
				        <h6 class="card-subtitle pb-4 letter-spacing ">cross Expert trainer</h6>
				        <p class="mb-5">Gron sports, fitness and athleticism in general. It got a whole new meaning for me as in 2007 I had an injury.</p>
			        	<ul class="list-inline ">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>