<section class="section textimonial position-relative bg-3">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="row justify-content-center">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<div class="divider mb-3"></div>
							<h2 class="text-white">Khách hàng nói gì</h2>
						</div>
					</div>
				</div>

				<div class="testimonial-slider">
					<div class="text-center mb-4 ">
						<!-- <i class="ti-quote-left text-lg text-color"></i> -->
						<h3 class="mt-4 text-white letter-spacing">Vừa vui, vừa khỏe, vừa học được cách tự vệ</h3>
						<p class="my-4 text-white-50">Con trai mình đang được luyện tập ở đây, bạn giáo viên rất tội, lịch sự, theo dõi con mình sát sao,và một điều là học phí cũng rất mềm, giá cả hợp lý</p>

						<div>
							<h4 class="mb-0 text-capitalize text-white font-weight-normal">Chị My</h4>
							<span class="text-white-50">Phụ huynh học viên</span>
						</div>
					</div>
					<div class="text-center mb-4">
						<!-- <i class="ti-quote-left text-lg text-color"></i> -->
						<h3 class="mt-4 text-white letter-spacing">Trải nghiệm tập luyện vượt mong đợi</h3>
						<p class="my-4 text-white-50">Đang trải nghiệm ở đây, thật sự rất tuyệt vời, từ lễ tân đến thầy giáo, có giáo trình rõ ràng, tập rất lên tay. Cảm ơn đã cho mình tìm được một chỗ tập rất ưng ý, học phí lý tưởng</p>
						<div>
							<h4 class="mb-0 text-capitalize text-white font-weight-normal">Anh Công Nam</h4>
							<span class="text-white-50">Học viên lớp kickbox - muay</span>
						</div>
					</div>

					<div class="text-center mb-4">
						<!-- <i class="ti-quote-left text-lg text-color"></i> -->
						<h3 class="mt-4 text-white letter-spacing">More Than a Gym, It’s a Community</h3>
						<p class="my-4 text-white-50">These guys are awesome. Had such a good time here, arrived as a stranger and left as a mate. Coach Duy is the man and knows what he is doing. Suitable for both beginners and seasoned trainers. Trinh was also very helpful and welcoming.</p>
						<div>
							<h4 class="mb-0 text-capitalize text-white font-weight-normal" >Mac Hepburn</h4>
							<span class="text-white-50">Học viên lớp private 1-1 </span>
						</div>
					</div>

					<div class="text-center mb-4">
						<!-- <i class="ti-quote-left text-lg text-color"></i> -->
						<h3 class="mt-4 text-white letter-spacing">Phòng tập ở vị trí hợp lí</h3>
						<p class="my-4 text-white-50">Phòng tập nằm chỗ dễ tìm, đi lại thuận tiện. Mình đi làm về ghé qua tập siêu tiện, 10đ không có nhưng</p>
						<div>
							<h4 class="mb-0 text-capitalize text-white font-weight-normal">Quốc Huy</h4>
							<span class="text-white-50">Học viên lớp kickbox - muay</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>