<section class="section why">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Vì sao nên chọn The Change MMA?</h2>
				</div>
			</div>
		</div>

		<div class="row ">
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center mb-4 border-0 bg-black-50 rounded-0 ">
					<i class="icofont-dumbbells text-lg text-color"></i>
					<h3 class="mt-3 text-white">Trang bị tập luyện hiện đại</h3>
					<p class="mt-3 mb-4 text-white">Không gian và dụng cụ tập luyện được đầu tư phục vụ hiệu quả cho võ thuật và rèn luyện thực chiến.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 mb-4 rounded-0">
					<i class="icofont-muscle text-lg text-color"></i>
					<h3 class="mt-3">Huấn luyện viên chuyên nghiệp</h3>
					<p class="mt-3 mb-4">Huấn luyện viên theo sát từng học viên, chú trọng kỹ thuật đúng, kỷ luật và sự tiến bộ lâu dài.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 mb-4 rounded-0 bg-black-50">
					<i class="icofont-fruits text-lg text-color"></i>
					<h3 class="mt-3 text-white">Chế độ dinh dưỡng<br> phù hợp</h3>
					
					<p class="mt-3 mb-4 text-white">Tư vấn dinh dưỡng theo cường độ tập luyện, hỗ trợ phục hồi và duy trì thể trạng ổn định.</p>
					
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 rounded-0 ">
					<i class="icofont-thumbs-up text-lg text-color"></i>
					<h3 class="mt-3">Đồng hành trong suốt quá trình tập luyện</h3>
					<p class="mt-3 mb-4">Không chỉ hướng dẫn trong giờ tập, chúng tôi luôn theo dõi và hỗ trợ hành trình thay đổi của bạn.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 rounded-0 bg-black-50">
					<i class="icofont-ui-fire-wall text-lg text-color"></i>
					<h3 class="mt-3 text-white">Lộ trình tập luyện phù hợp từng người</h3>
					<p class="mt-3 mb-4 text-white"> Chương trình tập luyện được thiết kế dựa trên thể trạng, mục tiêu và khả năng của mỗi học viên.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card p-4 text-center border-0 rounded-0">
					<i class="icofont-bill-alt text-lg text-color"></i>
					<h3 class="mt-3">Thanh toán đơn giản – minh bạch</h3>
					<p class="mt-3 mb-4">Quy trình đăng ký và thanh toán rõ ràng, thuận tiện, không phát sinh chi phí ẩn.</p>
				</div>
			</div>
		</div>
	</div>
</section>